{% extends "base.html" %}

{% block title %}
    Home
{% endblock%}


{% block content %}
  <div class="main-row">

    <div class="side-menu">
      <h1 class="side-menu-title">Search</h1>
      <div class="search-container">
        <form action="{{ url_for('index') }}" method="get">
          <input type="text" placeholder="Type here..." name="title" id="title" value="{{ values.title }}">
          <button type="submit"><i class="fa fa-search"></i></button>
          <select name="category" id="category">
            <option value="All">All</option>
            {% for category in categories %}
              <option value="{{ category }}" {% if category==values.category %}selected="selected"{% endif %}>{{ category }}</option>
            {% endfor %}
          </select>
          <h1 class="side-menu-title">Actors</h1>
          <input type="number" id="actors" name="actors" min="0" max="15" value="{{ values.actors }}">
          <button type="submit"><i class="fa fa-refresh"></i></button>
          <select name="genre" id="genre">
            {% for category in categories %}
              <option value="{{ category }}" {% if category==values.genre %}selected="selected"{% endif %}>{{ category }}</option>
            {% endfor %}
          </select>
        </form>
      </div>
    </div>

    <div class="content">
      {% if actors %}
      <h1 class="content-title">Actors</h1>
      <div class="table-div">
        <table class="styled-table">
          <thead>
            <tr>
              <th>Actor</th>
              <th>Debut</th>
              <th>Year</th>
              <th>Film</th>
              <th>Director</th>
            </tr>
          </thead>
          <tbody>
            {% for actor in actors %}
            <tr class="clickable-row" data-href="{{ url_for('film', film_id=actor.film_id) }}">
              <td>{{ actor.actor }}</td>
              <td>{{ actor.debut }}</td>
              <td>{{ actor.year  }}</td>
              <td>{{ actor.film  }}</td>
              <td>{{ actor.director }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
      <h1 class="content-title">Films</h1>
      <div class="films">
        {% for film in films %}
          <div class="film">
            <a href={{ url_for('film', film_id=film.id) }}>
              <div class="film-img">
                <img src={{ url_for('static', filename=film.poster) }} alt="Film image">
              </div>
              <div class="film-info">
                <h1>{{ film.titulo }}</h1>
                <p> {{ film.precio }} €</p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <script>
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
  </script>
{% endblock %}
