{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock%}


{% block content %}
<div class="form-content">
  <div class="form-div">
    <form action="/login", method="POST">
      <div class="form-inputs">
        <h1>Login</h1>
        {% if error_msg %} <p>{{ error_msg }}</p> {% endif %}
        <div class="form-input">
          <label for="username"><h4>Username</h4></label>
          <input type="text" placeholder="username" name="username" id="username" {% if user %}value="{{ user }}"{% endif %}>
        </div>
        <div class="form-input">
          <label for="password"><h4>Password</h4></label>
          <input type="password" placeholder="password" name="password" id="password">
        </div>
        <a href="register">Don't have a user?</a><br>
        <input type="submit" value="Login">
      </div>
    </form>
  </div>
</div>
{% endblock %}
